{% block body %}
    <html>
    <head>
        <!-- Include Socket.IO client library -->
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body ><!-- onload(esmFn) -->
    <h1>{{ title }}</h1>
    <center>
        msg: <input id="msg" type="text"><br>
        <input onclick="envoyer()" type="submit">
    </center>

    <!-- JavaScript code for WebSocket interaction -->
    <script>
        const socket=io.connect();
        const name = prompt("What is your name?");
        function envoyer(){
            data= {
                msg: msg.value,
                nom:name,
            }
            socket.emit("envoyerMsg",data)

        }

        socket.on("chat", (data) => {
            s=document.createElement("p")//create <p></p>
            s.innerHTML=("<center>"+data.msg+"<br>"+"nom :" + data.nom+new Date().getHours() +":"+ new Date().getMinutes()+"</center>")
            document.body.appendChild(s) // thotlk l p fl body
        })

    </script>
    </body>
    </html>
{% endblock %}